$color-text: #fff;
$main-bg: radial-gradient(
  73.19% 111.55% at 93.07% 74.31%,
  rgba(69, 39, 139, 0.9) 0%,
  rgba(46, 51, 90, 0.9) 100%
);
$color-secondary: rgba(235, 235, 245, 0.6);
$secondary-bg: linear-gradient(136deg, rgba(46, 51, 90, 0.26) 0%, rgba(28, 27, 51, 0.26) 100%);
